@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Index1";
}

<h2>Varj, mig betoltodik az oldal</h2>
@*@Html.Partial("RDLC_ReporTutorial")*@
<head>
    <meta http-equiv="refresh" content="2;URL='http://localhost:49281/Adattipus.aspx'" />
</head>