
@{
    Layout = null;
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>


    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />

</head>
<body>
    <h3 class="hellotext">Hello, @Session["userName"].ToString()!</h3>

    <div class="form1">

        <h1>Dashboard</h1>

        <form class="form">


            <p>THIS IS HOME </p>
            

        </form>

    </div>
    
 


        <div id="spare">
            
            <img src="~/Images/kep.jpg" alt="kep" >
        </div>
 

    @*<footer class="border-top footer text-white">

                <p>&copy; @DateTime.Now.Year - Csegzi Hunor </p>

        </footer>*@

</body>
</html>