@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />

</head>
<body>



    <!--Navigation bar-->

    <h2>Felhasználó adatai</h2>
    <!--end of Navigation bar-->
    <table class="table" align="center">
        <tbody>
            <tr>
                <td>
                    Username
                </td>
                <td> @Session["userName"].ToString()</td>
                <td>
                    @*@Session["userName"].ToString()*@
                </td>

            <tr>
                <td>Regisztrált</td>
                <td>2021-01-24 19:36:23</td>
            </tr>
            <tr>
                <td>Utoljára itt járt</td>
                <td>@DateTime.Now</td>
            </tr>


            <tr>
                <td>Email cím</td>
                <td> felhasznalo@sapientia.com</td>
            </tr>


            <tr>
                <td>IP cím</td>
                <td>
                    <a href="http://whatismyipaddress.com/ip/2a02:2f07:d60c:1400:c405:158b:7ff1:6445" target="_blank" style="text-decoration:none;">IP Cím</a>
                </td>
            </tr>

            <tr>
                <td>Meghívta</td>
                <td>
                    Rendszer
                </td>
            </tr>




        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>
