@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Tanar";
}

<h2>Varj, mig betoltodik az oldal</h2>
@*@Html.Partial("RDLC_ReporTutorial")*@
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <meta http-equiv="refresh" content="2;URL='http://localhost:49281/Default.aspx'" />
</head>

<body>


</body>