<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Allamvizsga </title>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header>


        <nav>
            <div>
                <ul>

                    <li> <a class="active" runat="server" href="~/Home/Index">Főmenü</a></li>

                    <!--ASPX linkek-->
                    <li>
                        <a runat="server" href="~/ASPX/users.aspx">Felhasználók</a>
                    </li>
                    <li>
                        <a runat="server" href="~/ASPX/Default.aspx"> Diákok</a>
                    </li>

                    <li>
                        <a href="#">Tablazatok</a>

                        <ul class="dropdown">
                            <li><a runat="server" href="~/ASPX/Adattipus.aspx">Diák jelentés</a></li>
                            <li><a runat="server" href="~/ASPX/szakok.aspx"> Szakok</a> </li>
                            <li><a runat="server" href="~/ASPX/egyetem.aspx"> Egyetem</a> </li>
                            <li><a runat="server" href="~/ASPX/PieChart.aspx"> Pie</a> </li>

                        </ul>
                    </li>
                    <li>
                        <a runat="server" href="~/Import/Index">Import</a>
                    </li>

                    <li>
                        <a runat="server" href="~/Home/Profil">Profil</a>
                    </li>

                    <li class="last">

                        <a runat="server" href="~/Login/Index">Kijelentkezés</a>


                    </li>

                </ul>
            </div>
        </nav>

        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </header>

    <div class="container body-content">
        @RenderBody()

        <footer class="border-top footer text-white">
            <div class="footer">
                &copy; @DateTime.Now.Year - Csegzi Hunor
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>