
<header>
    <div class="container">
        <h1 class="logo"></h1>

        <nav>

            <ul>

                <li> <a class="active" runat="server" href="~/Home/Index">Home</a></li>

                <!--ASPX linkek-->
                <li>
                    <a runat="server" href="~/RDLC_ReportTutorial.aspx">Users</a>
                </li>
                <li>
                    <a runat="server" href="~/Adattipus.aspx">Adattipusok</a>
                </li>
                <li>
                    <a runat="server" href="~/Default.aspx">TanarTablazat</a>
                </li>
                <li>
                    <a class="active" runat="server" href="~/Import/Index">Import</a>
                </li>

                <li>
                    <a class="last" runat="server" href="~/Login/Index">Profil</a>
                </li>
                <li>
                    <a class="last" runat="server" href="~/Home/Profil">Back</a>



            </ul>
        </nav>
    </div>

